* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", serif;
  background-color: rgb(49, 49, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: rgb(247, 247, 247);
  flex-direction: column;
}
.wrapper {
  background-color: rgb(71, 71, 71);
  width: 450px;
  height: auto;
  border-radius: 1em;
  margin-block: 50px;
  padding-inline: 75px;
  padding-block: 25px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.input-field {
  height: 25px;
  width: 300px;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.name--space {
  padding-left: 1rem;
}
.label--font {
  font-size: 14px;
}
.block--space {
  margin-top: 1.5rem;
}
.date-form {
  height: 35px;
  margin-bottom: 1.5rem;
  display: block;
}
.statement--number--form {
  width: 125px;
  height: 25px;
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
}
.date-form__div {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#gender {
  height: 25px;
  margin-top: 18px;
  position: absolute;
  transform: translate(-110%, 0);
}
#decision__list {
  margin-bottom: 1rem;
  height: 25px;
  width: 100%;
}
.button {
  display: block;
  margin-inline: auto;
  height: 40px;
  width: 100px;
  margin-top: 2rem;
}
.button:hover {
  background-color: rgb(224, 224, 224);
}
.footer {
  font-size: 10px;
  color: rgb(202, 202, 202);
  margin-top: auto;
  padding: 0.5rem;
}
.white {
  color: rgb(219, 219, 219);
}
.white:hover {
  color: white;
  cursor: pointer;
}
